{# Side Banner #}

<div class="go-down">
	<a href="#menu_area">
		<img class="go-down-img" src="img/go-down.png" alt="">
	</a>
</div>
<div class="fixed-view-menu">
	<p>
		<a href="menu.html">view menu</a>
	</p>
</div>
{# Side Banner End #}